$myFont:  Roboto, sans-serif;
body{
  font-family: $myFont;
  background-image: url("/img/backgroundintro.png");
  .container{
      width: 800px;
      margin: auto;
      h1{
        margin-left: 350px;
      }
  }
}