
@font-face {
  font-family: 'GamerStation';
  src: url('/font/GamerStation.ttf');
}
body{
  background-image: url('/img/background.png');
  background-color: grey;
  background-size: cover;
  position: relative;
  font-family: "GamerStation";
  #container{
    width: 1200px;
    margin: auto;
    padding-top: 50px;
    .left-col{
      width: 120px;
      .button-level, .button-intro{
        button{
          font-family: 'GamerStation';
          width: 80px;
          height: 50px;
          margin: 10px;
          cursor: pointer;
        }
      }
    }
    .center-col{
        width: 930px;
      text-align: center;
        h1{
          color: whitesmoke;
          text-align: center;
        }
        canvas{
          background-image: url("/img/backgroundGame.png");
          background-color: ghostwhite;
          margin: 0 auto;
          display: block;
        }
    }
    .right-col{
      width: 120px;
      margin-left: 20px;
      .button-right{
      button{
        font-family: 'GamerStation';
        width: 80px;
        height: 50px;
        margin: 10px;
        cursor: pointer;
      }
    }
  }
    .result{
      display: flex;
      justify-content: center;
      .result-h3{
        text-align: center;
      }
    }
    .again{
      display: flex;
      justify-content: center;
      button{
        font-family: 'GamerStation';
        width: 80px;
        height: 50px;
      }
    }
}}

